<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AdAid">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AdAid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.rule.EditRuleActivity"
            android:exported="false"
            android:label="@string/rule_edit_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gui.rule.NewRuleActivity"
            android:exported="false"
            android:label="@string/rule_new_activity_title"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".service.A11yService"
            android:exported="true"
            android:label="@string/a11y_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/a11y_service_config" />
        </service>
    </application>

</manifest>